
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>


<form method="post">
    <input name="mail" placeholder="isim gir" type="text" />
    <br />
    <input name="password" placeholder="sifre gir" type="password" />

    <br />
    <button type="submit">giriş</button>
</form>